body{
    font-size: 25px;
    font-family: cursive;
}
.container{
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 3px 2px grey;
    background-color: #4a6488;
    border-radius: 10px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    
}

.searchbar{
    
    margin: auto;
}

#darkmode{
    
    margin: auto;
    cursor: pointer;
}

#search{
    width: 10vw;
    height: 3vh;
    border-radius: 8px;
    
}

#searchbutton{
    width: 2vw;
    height: 3vh;
    border-radius: 8px;
    cursor: pointer;
}

.createtask{
    display: flex;
    justify-content: center;
}

.taskbutton{
    background-color: crimson;
    font-size: 25px;
    color:white;
    border-radius: 8px;
    box-shadow: 0 0 1px 2px whitesmoke;
}

#taskarea {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
#navtask > h2 {
    display: inline;
}
#navtask{
    border: 1px solid green;
}
#taskcontent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
.close{
    margin-left: 100%;
    border: 1px solid red;
    
}
ul{
    list-style-type: none;
}

li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 25px;
    color:white;
 
}



li.completed{
    text-decoration: line-through;
    background-color: grey;
}

.delete-button{
    background-color: red;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.dark{
    background-color: #293045 ;
}

.bar{
    padding-left: 66px;
    display: flex;
    gap: 50px;
    font-size: 20px;
    
}

.highlight {
    background-color: yellow; /* Change this to your desired highlight color */
}